<div class="cardsBox">
    <div class="card-contant popup-panel">
        <div>
            <div class="card-numbers">1,465</div>
            <div class="card-name">Daily Views</div>
        </div>
        <i class="fa fa-eye"></i>
    </div>
    <div class="card-contant popup-panel">
        <div>
            <div class="card-numbers">2,65</div>
            <div class="card-name">Customers</div>
        </div>
        <i class="fa fa-users"></i>
    </div>
    <div class="card-contant popup-panel">
        <div>
            <div class="card-numbers">32,65</div>
            <div class="card-name">Products</div>
        </div>
        <i class="fa fa-product-hunt"></i>
    </div>
    <div class="card-contant popup-panel">
        <div>
            <div class="card-numbers">12,65</div>
            <div class="card-name">Sales</div>
        </div>
        <i class="fa fa-shopping-cart"></i>
    </div>
</div>
<div class="order">
    <div class="section-body popup-panel">
        <div class="card-header">
            <h2>Recent Orders</h2>
            <button>View All</button>
        </div>
        <table>
            
                <tr>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Payment</th>
                    <th>Stutus</th>
                    <th colspan="3">Actions</th>
                </tr>
           
            
           
                <tr>
                    <td>Star Refrigerator</td>
                    <td>200</td>
                    <td>$1200</td>
                    <td>Paid</td>
                    <td><span class="status delivered">Delivered</span></td>
                    <td><i class="fa fa-eye"></i></td>
                    <td><i class="fa fa-pencil" aria-hidden="true"></i></td>
                    <td><i class="fa fa-trash" aria-hidden="true"></i></td>
                </tr>

                <tr>
                    <td>Dell Laptop</td>
                    <td>200</td>
                    <td>$110</td>
                    <td>Due</td>
                    <td><span class="status pending">Pending</span></td>
                    <td><i class="fa fa-eye"></i></td>
                    <td><i class="fa fa-pencil" aria-hidden="true"></i></td>
                    <td><i class="fa fa-trash" aria-hidden="true"></i></td>
                </tr>

                <tr>
                    <td>Apple Watch</td>
                    <td>200</td>
                    <td>$1200</td>
                    <td>Paid</td>
                    <td><span class="status return">Return</span></td>
                    <td><i class="fa fa-eye"></i></td>
                    <td><i class="fa fa-pencil" aria-hidden="true"></i></td>
                    <td><i class="fa fa-trash" aria-hidden="true"></i></td>
                </tr>

                <tr>
                    <td>Addidas Shoes</td>
                    <td>200</td>
                    <td>$620</td>
                    <td>Due</td>
                    <td><span class="status inProgress">In Progress</span></td>
                    <td><i class="fa fa-eye"></i></td>
                    <td><i class="fa fa-pencil" aria-hidden="true"></i></td>
                    <td><i class="fa fa-trash" aria-hidden="true"></i></td>
                </tr>

                <tr>
                    <td>Star Refrigerator</td>
                    <td>200</td>
                    <td>$1200</td>
                    <td>Paid</td>
                    <td><span class="status delivered">Delivered</span></td>
                    <td><i class="fa fa-eye"></i></td>
                    <td><i class="fa fa-pencil" aria-hidden="true"></i></td>
                    <td><i class="fa fa-trash" aria-hidden="true"></i></td>
                </tr>

                <tr>
                    <td>Dell Laptop</td>
                    <td>200</td>
                    <td>$110</td>
                    <td>Due</td>
                    <td><span class="status pending">Pending</span></td>
                    <td><i class="fa fa-eye"></i></td>
                    <td><i class="fa fa-pencil" aria-hidden="true"></i></td>
                    <td><i class="fa fa-trash" aria-hidden="true"></i></td>
                </tr>

        </table>
    </div>
</div>