<div class="container">
    <div class="section-body popup-panel">

        <table>
            <tr>
                <th>Image</th>
                <th>Product Name</th>
                <th>Price</th>
                <th style="text-align: center;">Quantity</th>
                <th>Total Price</th>
                <th colspan="2">Actions</th>
            </tr>
            <tr *ngFor="let product of cart">
                <td>
                    <img [src]="product.image" alt="">
                </td>
                <td>{{product.productTitle}}</td>
                <td >{{product.prix}}</td>
                <td class="quantity">
                  <button (click)="decreasesPoructQuantity(product)">-</button>
                  <input type="text" name="quantity" [(ngModel)]="product.quantity" (blur)="writeQuantity(product,product.quantity)">
                  <button  (click)="increasePoructQuantity(product)">+</button>
                </td>
                
                <td style="text-align: center;">{{product.totalPrix}}</td>
                <td style="text-align: center;" (click)="deleteProductFromCart(product.id,user)"><i class="fa fa-trash"></i></td>
                <td><i class="fa fa-eye"  [routerLink]="['/Product Detail',product.productId]"></i></td>

              </tr>
             <button class="mt-3 order-btn"  routerLink="/Pay" data-bs-dismiss="modal" aria-label="Close">Order Porducts</button>
              
        </table>
    </div>
</div>