<div class="container">
    <div class="section-body popup-panel">
        <table>
            
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>subject</th>
                    <th>Date </th>
                    <th colspan="3">Actions</th>
                </tr>
           
            
           
                <!-- <tr *ngFor="let message of messages">
                    <td>{{message.name}}</td>
                    <td>{{message.email}}</td>
                    <td>{{message.phone}}</td>
                    <td>{{message.subject}}</td>
                    <td>{{message.date}}</td>
                    <td><i class="fa fa-eye"></i></td>
                    <td><i class="fa fa-trash" aria-hidden="true"></i></td>
                    <td><i class="fa fa-send" aria-hidden="true"></i></td>
    
                </tr> -->
                
               
    
        </table>
    </div>
</div>