<footer>
    <div class="qustons-section">
        <h2>Do You Have Any Qustions</h2>
        <p>Put Your Email Address & Get Stard</p>
        <form action="" class="form-qustion">
            <input type="text" placeholder="Enter Your Email">
            <button type="submit" class="btn-form">Subscribe</button>
        </form>
    </div>
    <div class="container footer-contant">
        <div class="footer-item">
            <div class="footer-logo contant" >
                <img src="./../../../../assets/TN Shop Logo.png" alt="">

            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, id! Sunt similique iure dolorum in!</p>
        </div>
        <hr>
        <div class="footer-item ">
            <div class="footer-item-contant">
                <h3>Categories</h3>
                <ul>
                    <li ><a href="#">HOME</a></li>
                    <li ><a href="#">SERVICES</a></li>
                    <li ><a href="#">CONTACT</a></li>
                    <li ><a href="#">POSTERS</a></li>
                    <li ><a href="#">NEWS</a></li>

                </ul>
            </div>
            
        </div>
       <hr>
        <div class="footer-item">
            <div class="footer-item-contant">
                <h3>Caontact</h3>
                <ul>
                    <li class="contact-contant">
                        <i class="fa fa-map-marker"></i>
                        <p>Sid Bouzid</p>
                    </li>
                    <li class="contact-contant">
                        <i class="fa fa-phone"></i>
                        <p>123456789</p>
                    </li>
                    <li class="contact-contant">
                        <i class="fa fa-phone"></i>
                        <p>7855555</p>
                    </li>
                    <li class="contact-contant">
                        <i class="fa fa-envelope"></i>
                        <p>waelbalhoudi@gmail.com</p>
                    </li>
                </ul>
            </div>
        </div>
       <hr>
        <div class="footer-item">
            <div class="footer-item-contant">
                <h3>Help</h3>
                <ul>
                    <li ><a href="#">wael balhoudi</a></li>
                </ul>
                <p>Follow Us:</p>
                <div class="sochle-meada">
                    <!-- <div class="account" *ngFor="let account of SocialMeadiaAccounts" >
                        <a [href]="account.accountLink">
                        </a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <p class="Copyright">Copyright &copy; 2024 TN Shop</p>
</footer>