
<section class="subscribe">
    <div class="container text-center">
        <h2 class="section-title">We are here to help you</h2>
        <p class="section-subtitle">Subscribe to get our Newletters</p>
        <a href="#" class="link-btn">See Our News</a>
    </div>
</section>
<body>
    <section>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRaatio="none" class="section-down-arrow">
            <polygon fill="var(--primary-color)" points="0,0 100,0 50,7.5"></polygon>
        </svg>
    </section>


    <div class="box">
        <span style="--i:1;"><img src="assets/shoppingImages/img1.png" alt=""></span>
        <span style="--i:2;"><img src="assets/shoppingImages/img2.png" alt=""></span>
        <span style="--i:3;"><img src="assets/shoppingImages/img3.png" alt=""></span>
        <span style="--i:4;"><img src="assets/shoppingImages/img4.jpg" alt=""></span>
        <span style="--i:5;"><img src="assets/shoppingImages/img5.jpg" alt=""></span>
        <span style="--i:6;"><img src="assets/shoppingImages/img6.jpg" alt=""></span>
        <span style="--i:7;"><img src="assets/shoppingImages/img7.jpg" alt=""></span>
        <span style="--i:8;"><img src="assets/shoppingImages/img2.png" alt=""></span>
        <span style="--i:9;"><img src="assets/shoppingImages/img5.jpg" alt=""></span>
        <span style="--i:10;"><img src="assets/shoppingImages/img1.png" alt=""></span>
    </div>
</body>




  